* {
    padding: 0;
    margin: 0;
    
}

body{
    text-align: center;
}

div{
    border: 6px solid black;
    padding: 20px;
    margin: 225px 650px;
    border-radius: 5%;
}

.soma{
    color: #ffffff;
    background-color: coral;
}